/* Color Palette Definition */
:root{
    --base: #081020;
    --dark: #040810;
    --light: #182030;
    --accent1: #084;
    --accent1-dark: #063;
    --accent1-light: #0a5;
    --accent2: #048;
    --accent2-dark: #036;
    --accent2-light: #05a;
    --text: #e0fff0;
}

#a{
    background-color: var(--text);
    color: var(--text);
}

#b{
    background-color: var(--light);
    color: var(--light);
}

#c{
    background-color: var(--base);
    color: var(--base);
}

#d{
    background-color: var(--dark);
    color: var(--dark);
}

#e{
    background-color: var(--accent1-light);
    color: var(--accent1-light);
}

#f{
    background-color: var(--accent1);
    color: var(--accent1);
}

#g{
    background-color: var(--accent1-dark);
    color: var(--accent1-dark);
}

#h{
    background-color: var(--accent2-light);
    color: var(--accent2-light);
}

#i{
    background-color: var(--accent2);
    color: var(--accent2);
}

#j{
    background-color: var(--accent2-dark);
    color: var(--accent2-dark);
}

html{
    font-size: 32px;
    background-color: var(--base);
    color: var(--text);
}

p{
    font-size: inherit;
}

.textSection{
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: #888;
}